<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pr-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Abertura de Incidentes</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h2>Abertura de incidentes</h2>
    <form th:action="" method="post" th:object="${orders}">
        <!-- Cliente -->
        <div class="form-group">
            <label for="cliente">Cliente:</label>
            <input type="text" class="form-control" id="cliente" name="cliente" placeholder="Nome do Cliente" th:field="*{cliente}" required maxlength="35">
        </div>

        <!-- Contato -->
        <div class="form-group">
            <label for="contato">Contato:</label>
            <input type="text" class="form-control" id="contato" name="contato" placeholder="email e telefone" th:field="*{contato}" required maxlength="50">
        </div>

        <!-- Equipamento -->
        <div class="form-group">
            <label for="equipamento">Equipamento:</label>
            <input type="text" class="form-control" id="equipamento" name="equipamento" placeholder="Tipo e Modelo" th:field="*{equipamento}" required maxlength="100">
        </div>

        <!-- Serie -->
        <div class="form-group">
            <label for="serie">Série:</label>
            <input type="text" class="form-control" id="serie" name="serie" placeholder="Número de Série" th:field="*{serie}" required maxlength="35">
        </div>

        <!-- SLA -->
        <div class="form-group">
            <label for="sla">SLA:</label>
            <input type="number" class="form-control" id="sla" name="sla" placeholder="SLA" step="0.01" th:field="*{sla}" required maxlength="35">
        </div>

        <!-- Defeito -->
        <div class="form-group">
            <label for="defeito">Defeito:</label>
            <textarea class="form-control" id="defeito" name="defeito" rows="3" placeholder="Descrição do Defeito" th:field="*{defeito}" required maxlength="1000"></textarea>
        </div>

        <!-- Endereco -->
        <div class="form-group">
            <label for="endereco">Endereço:</label>
            <input type="text" class="form-control" id="endereco" name="endereco" placeholder="Endereço" th:field="*{endereco}" required maxlength="100">
        </div>

        <!-- Cidade -->
        <div class="form-group">
            <label for="city">Cidade:</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Cidade"th:field="*{city}" required maxlength="35">
        </div>

        <!-- CEP -->
        <div class="form-group">
            <label for="cep">CEP:</label>
            <input type="number" class="form-control" id="cep" name="cep" placeholder="CEP" th:field="*{cep}" required maxlength="10">
        </div>

        <!-- Status -->
        <div class="form-group">
            <label for="status">Status:</label>
            <input type="text" class="form-control" id="status" name="status" placeholder="Status" th:field="*{status}" required maxlength="35">
        </div>

        <!-- Botão de Envio -->
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>

</body>
</html>
