<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pr-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Detalhe do Incidente</title>

  <link href="css/bootstrap.min.css" rel="stylesheet">

  <link href="css/signin.css" rel="stylesheet">
</head>

<body class="text-center">

  <main class="form-signin">

    <form th:each="order: ${listCall}">

      <h1 class="h3 mb-3 fw-normal">Detalhe Incidente.</h1>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" th:text="${order.cliente}" maxlength="35">
        <label for="floatingInput">Nome do Cliente:</label>
      </div>
      <div class="checkbox mb-3">
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" th:text="${order.contato}" maxlength="25">
        <label for="floatingInput">Email e Telefone:</label>
      </div>
      <div class="checkbox mb-3">
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" placeholder="Tipo e Modelo" th:text="${order.equipamento}" maxlength="25">
        <label for="floatingInput">Equipamento:</label>
      </div>
      <div class="checkbox mb-3">
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" th:text="${order.serie}" maxlength="25">
        <label for="floatingInput">Serie:</label>
      </div>

      <div class="checkbox mb-3"> 
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="abertura" th:text="${order.abertura}" maxlength="25">
        <label for="floatingInput">Data Abertura:</label>
      </div>
      <div class="checkbox mb-3">
      </div>
      

      <div class="form-floating">
        <input type="text" class="form-control" id="status" th:text="${order.status}" maxlength="25">
        <label for="floatingInput">Status:</label>
      </div>
      <div class="checkbox mb-3">
      </div>


      <div class="form-floating">
        <input type="number" class="form-control" placeholder="horas contratadas" id="floatingInput" th:text="${order.sla}"
          maxlength="15">
        <label for="floatingPassword">SLA:</label>
      </div>
      <div class="checkbox mb-3">
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingPassword" th:text="${order.defeito}" 
               maxlength="1000">
        <label for="floatingPassword">Defeito:</label>
      </div>
      <div class="checkbox mb-3">
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingPassword" th:text="${order.endereco}" 
               maxlength="200">
        <label for="floatingPassword">Endereço:</label>
      </div>
      <div class="checkbox mb-3">
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" th:text="${order.city}" 
               maxlength="30">
        <label for="floatingPassword">Cidade:</label>
      </div>
      <div class="checkbox mb-3">
      </div>

      <div class="form-floating">
        <input type="number" class="form-control" id="floatingInput" th:text="${order.cep}" 
               maxlength="10">
        <label for="floatingPassword">Cep:</label>
      </div>
      <div class="checkbox mb-3">
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="tecnico" name="tecnico" th:text="${order.tecnico}" maxlength="100">
        <label for="floatingPassword">Tecnico:</label>
      </div>
      <div class="checkbox mb-3">
      </div>

    </form>
  </main>

</body>

</html>