<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pr-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Detalhe do Incidente</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</head>

<body class="text-center">

  <main class="form-signin">

    <form th:each="order: ${listCall}">

      <h1 class="h3 mb-3 fw-normal">Detalhe Incidente.</h1>

      <div class="row">

        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="cliente" th:value="${order.cliente}" maxlength="35" readonly>
            <label for="cliente">Nome do Cliente:</label>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="contato" th:value="${order.contato}" maxlength="25" readonly>
            <label for="contato">Email e Telefone:</label>
          </div>
        </div>
        <div class="checkbox mb-3">
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="equipamento" th:value="${order.equipamento}" maxlength="25" readonly>
            <label for="contato">Equipamento:</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="serie" th:value="${order.serie}" maxlength="25" readonly>
            <label for="contato">Serie:</label>
          </div>
        </div>
        <div class="checkbox mb-3">
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="abertura" th:value="${order.abertura}" maxlength="25" readonly>
            <label for="contato">Abertura:</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="city" th:value="${order.city}" maxlength="50" readonly>
            <label for="contato">City:</label>
          </div>
        </div>
        <div class="checkbox mb-3">
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="sla" th:value="${order.sla}" maxlength="25" readonly>
            <label for="contato">Sla:</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="endereco" th:value="${order.endereco}" maxlength="1000" readonly>
            <label for="contato">Endereco:</label>
          </div>
        </div>
        <div class="checkbox mb-3">
        </div>
        <div class="checkbox mb-3">
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="cep" th:value="${order.cep}" maxlength="50" readonly>
            <label for="contato">Cep:</label>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-floating">
            <input type="text" class="form-control" id="tecnico" th:value="${order.tecnico}" maxlength="50" readonly>
            <label for="contato">Tecnico:</label>
          </div>
        </div>
        <div class="checkbox mb-3">
        </div>
        <div class="col-md-12">
          <div class="form-floating">
            <input type="text" class="form-control" id="defeito" th:value="${order.defeito}" maxlength="1000" readonly>
            <label for="contato">Defeito:</label>
          </div>
        </div>
        <div class="checkbox mb-3">
        </div>
        <div class="col-md-12">
          <div class="form-floating">
            <input type="text" class="form-control" id="providencias" maxlength="1000">
            <label for="contato">Providencias adotadas:</label>
          </div>
        </div>
        <div class="checkbox mb-3">
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-floating">
              <!--input type="text" class="form-control" id="status" th:value="${order.status}" maxlength="25"-->
              <select class="form-control" id="status" th:value="${order.status}" required>
                <option value="">Selecione</option>
                <option value="OPEN">OPEN</option>
                <option value="ALOCADO">ALOCADO</option>
                <option value="DESLOCAMENTO">DESLOCAMENTO</option>
                <option value="ONSITE">ONSITE</option>
                <option value="PENDENTE">PENDENTE</option>
                <option value="CLIENTE">CLIENTE</option>
                <option value="SOLUCIONADO">SOLUCIONADO</option>
                <option value="CANCELADO">CANCELADO</option>
              </select>
              <label for="contato">Status:</label>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <button class="w-100 btn btn-lg btn-primary" onclick="concatenateFields()">Atualizar</button>
          </div>
        </div>
        <div class="checkbox mb-3">
        </div>
        <script>
          function concatenateFields() {
            // Obtenha os valores dos campos
            var defeitoValue = document.getElementById('defeito').value;
            var providenciasValue = document.getElementById('providencias').value;

            // Concatene os valores
            var concatenatedValue = defeitoValue + ' ' + providenciasValue;

            // Atualize o valor do campo defeito
            document.getElementById('defeito').value = concatenatedValue;
          }
        </script>
      </div>
    </form>
  </main>

</body>

</html>
